In [1]:
#Import dipendancies
import json
import pandas as pd
import math

#File to load
food_data_raw = "Resources/Google Places API Burgers.json"
with open(food_data_raw,mode='r') as data:
    f = json.load(data)
    print(f['results'][0])

{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 44.0225036, 'lng': -92.4637066}, 'viewport': {'northeast': {'lat': 44.02392197989271, 'lng': -92.46241624999998}, 'southwest': {'lat': 44.02122232010727, 'lng': -92.46520124999999}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png', 'icon_background_color': '#FF9E67', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet', 'name': "Chester's Kitchen & Bar", 'opening_hours': {'open_now': True}, 'photos': [{'height': 3024, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102589600606094975192">Marzouq Alghanim</a>'], 'photo_reference': 'Aap_uEB3TVEvhkrXl-4bmsu9Wc3c009cWdAU-lT8AqGgsCKvkA5SZqXogpWzjrTigEXL5ox_4qnY0wCT-B0px_qSNYzeufI-A0X-_ZPh_UgR4_qAstwQSdzsJZbo3Ki8yZnD409ESrPOngebCnwK4iXOjzqkxKZ2O89X7fAtGgtQYzuLN-8V', 'width': 4032}], 'place_id': 'ChIJi-0g1nxf94cRCY5hpn6YerA', 'plus_code': {'compound_code': '2GFP+2G Rochester, Minnesota', 'global_code': '86P92GFP+2G'}, 'price_level': 2, 'rating': 4.5, 'reference': 'ChIJi-0g1nxf94cRCY5hpn6YerA', 'scope': 'GOOGLE', 'types': ['bar', 'restaurant', 'food', 'point_of_interest', 'establishment'], 'user_ratings_total': 1328, 'vicinity': 'Shops At University Square, 111 Broadway Ave S #108, Rochester'}

In [2]:
#Select key value data
f['results'][0].keys()

dict_keys(['business_status', 'geometry', 'icon', 'icon_background_color', 'icon_mask_base_uri', 'name', 'opening_hours', 'photos', 'place_id', 'plus_code', 'price_level', 'rating', 'reference', 'scope', 'types', 'user_ratings_total', 'vicinity'])

In [3]:
#Create the Columns
df_columns = [
'rating',
'geometry',
'price_level',
'name',
'types']

In [4]:
#Filter the data into the columns
columns = []
for row in f['results']:
    try:
        pandas_data = {
        'rating' : row['rating'],
        'latitude' : row['geometry']['location']['lat'],
        'longitude' : row['geometry']['location']['lng'],
        
        'price_level' : row['price_level'],
        
        'name' : row['name'],
        'types' : row['types'][0]
        }
    except:
        pass
    columns.append(pandas_data)

In [13]:
#Put the data in a data frame
data_df = pd.DataFrame(columns)
#Find duplicate entries
print(f"Duplicate entries: {data_df.duplicated().sum()}")
#data_df

Duplicate entries: 4

In [6]:
#Remove duplicated from list 
clean_data_df = data_df.drop_duplicates(subset=['rating', 'latitude', 'longitude', 'price_level', 'name', 'types'])
clean_data_df

,rating,latitude,longitude,price_level,name,types
0,4.5,44.022504,-92.463707,2,Chester's Kitchen & Bar,bar
1,4.5,44.020213,-92.464240,2,The Half Barrel,bar
2,4.5,44.020241,-92.463634,2,The Tap House,bar
3,4.4,44.021777,-92.483697,2,Saints On 2nd,restaurant
4,4.3,44.026821,-92.486783,2,Wild Bill's Sports Saloon - Rochester,restaurant
5,4.4,44.021000,-92.464140,2,Newt's,restaurant
8,3.8,44.026418,-92.486718,1,Denny's,restaurant
9,4.5,44.021870,-92.481552,2,Canadian Honker Restaurant,restaurant
10,3.1,44.038649,-92.461641,1,Burger King,restaurant
11,4.5,44.014181,-92.462500,1,Brothers Bar & Grill,bar
12,3.5,44.021913,-92.485546,1,McDonald's,cafe
13,4.6,44.019018,-92.463701,3,Bleu Duck Kitchen,bar
14,4.2,44.023832,-92.486834,2,The Boulder Tap House - Rochester,restaurant
15,4.4,44.021263,-92.493263,2,Beetles Bar & Grill,bar

In [7]:
#Filter coordinates and restaurant names into new data frame
coordinates = clean_data_df[['latitude', 'longitude', 'name']]
coordinates

     latitude  longitude                                   name
0   44.022504 -92.463707                Chester's Kitchen & Bar
1   44.020213 -92.464240                        The Half Barrel
2   44.020241 -92.463634                          The Tap House
3   44.021777 -92.483697                          Saints On 2nd
4   44.026821 -92.486783  Wild Bill's Sports Saloon - Rochester
5   44.021000 -92.464140                                 Newt's
8   44.026418 -92.486718                                Denny's
9   44.021870 -92.481552             Canadian Honker Restaurant
10  44.038649 -92.461641                            Burger King
11  44.014181 -92.462500                   Brothers Bar & Grill
12  44.021913 -92.485546                             McDonald's
13  44.019018 -92.463701                      Bleu Duck Kitchen
14  44.023832 -92.486834      The Boulder Tap House - Rochester
15  44.021263 -92.493263                    Beetles Bar & Grill

In [8]:
#Loop through rows and define latitudes and longitudes
for row in coordinates.itertuples():
    print(row[0], row[1], row[2])
    lat = row[1]
    lng = row[2]

0 44.0225036 -92.4637066
1 44.0202128 -92.46424019999999
2 44.0202411 -92.4636338
3 44.0217773 -92.4836972
4 44.0268209 -92.48678290000001
5 44.021 -92.46414000000001
8 44.0264181 -92.48671780000001
9 44.02187 -92.4815517
10 44.03864919999999 -92.46164089999999
11 44.0141808 -92.4624999
12 44.0219128 -92.4855455
13 44.0190182 -92.4637011
14 44.0238318 -92.48683439999999
15 44.0212631 -92.4932632

In [9]:
#Define distance function
def distance(source , destination): 
    lat1, lon1 = source [0],source [1]
    lat2, lon2 = destination[0],destination[1]
    radius = 3958.8 # miles
    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c
    return d

#Coordinates for St. Mary's
source = [44.0196, -92.4811]
distance_measured = 0

#Create empty data dictionary
data = []
#Loop through the Reasturant loations
for row in coordinates.itertuples():
    #Extract the coordinates as well as restaurant name
    lat = row[1]
    lng = row[2]
    name = row[3]
    destination = [lat , lng]
    #Calculate the distance and check that it is not 0
    if (distance(source, destination) != 0):
        #Cacluate distance measured and add to lists
        distance_measured = distance(source, destination) 
        temp = {
            'name': name, 
            'distance_in_miles': distance_measured
        }
        data.append(temp)
        
#Put the distances in a dataframe.
dist_df = pd.DataFrame.from_dict(data) 
dist_df

                                     name  distance_in_miles
0                 Chester's Kitchen & Bar           0.887164
1                         The Half Barrel           0.838756
2                           The Tap House           0.868946
3                           Saints On 2nd           0.198200
4   Wild Bill's Sports Saloon - Rochester           0.573271
5                                  Newt's           0.848194
6                                 Denny's           0.547565
7              Canadian Honker Restaurant           0.158441
8                             Burger King           1.633042
9                    Brothers Bar & Grill           0.997171
10                             McDonald's           0.272620
11                      Bleu Duck Kitchen           0.865415
12      The Boulder Tap House - Rochester           0.408247
13                    Beetles Bar & Grill           0.615157

In [10]:
#Merge the data frames.      
final_df = pd.merge(clean_data_df, dist_df, on=["name", "name"])
final_df

,rating,latitude,longitude,price_level,name,types,distance_in_miles
0,4.5,44.022504,-92.463707,2,Chester's Kitchen & Bar,bar,0.887164
1,4.5,44.020213,-92.464240,2,The Half Barrel,bar,0.838756
2,4.5,44.020241,-92.463634,2,The Tap House,bar,0.868946
3,4.4,44.021777,-92.483697,2,Saints On 2nd,restaurant,0.198200
4,4.3,44.026821,-92.486783,2,Wild Bill's Sports Saloon - Rochester,restaurant,0.573271
5,4.4,44.021000,-92.464140,2,Newt's,restaurant,0.848194
6,3.8,44.026418,-92.486718,1,Denny's,restaurant,0.547565
7,4.5,44.021870,-92.481552,2,Canadian Honker Restaurant,restaurant,0.158441
8,3.1,44.038649,-92.461641,1,Burger King,restaurant,1.633042
9,4.5,44.014181,-92.462500,1,Brothers Bar & Grill,bar,0.997171
10,3.5,44.021913,-92.485546,1,McDonald's,cafe,0.272620
11,4.6,44.019018,-92.463701,3,Bleu Duck Kitchen,bar,0.865415
12,4.2,44.023832,-92.486834,2,The Boulder Tap House - Rochester,restaurant,0.408247
13,4.4,44.021263,-92.493263,2,Beetles Bar & Grill,bar,0.615157

In [11]:
#Export the final data frame as a json file.
final_df.to_json('final_data.json')